/*..........Breadcrambs.........*/
/*/////////////////////////////*/

.breadcrambs {
    margin-top: 50px;
}

.breadcrambs_circle {
    width: 10px;
    height: 10px;
    background: $gray;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
}