/*...Footer...*/

.footer {
  margin-top: 100px;
  background: #F6F6F6;
  padding: 24px 16px;

  .text {
    font-size: 16px;
  }

  .container {
    flex-direction: column;
  }

  @media(min-width: 780px) {	
    padding: 32px 0;	

		.container {
      flex-direction: row;
      justify-content: space-between;
    }
	}

  @media(min-width: 1200px) {
    justify-content: space-around;
    padding: 32px 40px;
  }
}


.footer_hide_mobile {
  display: none;

  @media(min-width: 780px) {	
    display: block;
	}
}

.footer__company {
  @media(min-width: 780px) {	
    order: 2;
	}
}

.footer__link {
  font-size: 16px;
  padding: 8px 0;
}

.footer__news {
  @media(min-width: 780px) {	
    order: 3;
	}
}

.footer__news,
.footer__info {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid  #EBEBEB;

  @media(min-width: 780px) {	
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
	}
}

.socialcs {
  margin-top: 16px;
}

.social {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.footer__imgs {
  margin-top: 32px;
}

.hilding {
  max-width: 182px;
  width: 100%;
  margin-right: 16px;

  @media(min-width: 780px) {	
    display: none;
	}
}

.number_one {
  width: 48px;
  height: 48px;
}

.footer__info {
  @media(min-width: 780px) {	
    order: 1;
	}
}

.footer__note {
  font-size: 14px;

  @media(min-width: 780px) {	
    margin-top: 20px;
	}

  @media(min-width: 1200px) {	
    margin-top: 25px;
	}
}

.footer__logo_container {
  max-width: 152px;
  width: 100%;
}

.footer__img_container  {
  margin-top: 20px;
  max-width: 182px;
  width: 100%;

  @media(min-width: 1200px) {	
    margin-top: 40px;
	}
}