/*..........Post.........*/
/*//////////////////////*/

.post {
    line-height: 1.4;
    & .link {
        word-break: break-word;
    }
    & .code_block {
        display: block;
        width: 100%;
        margin-top: 30px;
        
        background: $white;
        border: 3px solid $dark_gray;
        border-radius: $input_radius;

        overflow: hidden;

        &__lang {
            padding: 0px 10px;
            margin-top: 0;
            text-transform: uppercase;
            font-weight: bold;
        }

        & .comment {
            color: $dark_gray_middle;
        }

        code {
            color: #000;
        }
    }

    & h1 {
        font-size: 3rem;
        margin-bottom: 30px;

        @media(max-width: 500px) {
            font-size: 2rem;
        }
    }

    & h2 {
        font-size: 2rem;
        margin-top: 40px;
    }

    & h3, h4 {
        @apply mt-5 underline underline-offset-2 decoration-2;
        font-size: 1.3rem;
    }

    & .button {
        margin-top: 40px;
    }

    & a:not(.button, .card) {
        color: $light_blue;
    }

    & p {
        @apply mt-2 md:mt-5;
    }

    & img {
        display: inline-block;
        margin-top: 10px;
        border-radius: 8px;
    }

    & .post_date {
        text-align: right;
    }

    & .post_img {
        max-width: 700px;
        margin-right: auto;
        margin-left: auto;
    }

    & .banner {
        margin: 30px 0;
    }

    & .tabs_container {
        margin-top: 30px;
        list-style-type: none;
        grid-gap: 30px;
        padding-left: 0;
    }

    & .card {  
        font-size: 16px;
        & .card_title {
            font-size: 20px;
        }
    }
}

.menu_accordeon {
    margin: 0 0 50px;
    color: inherit !important;
    box-shadow: none;
    border: 1px solid $dark_gray !important;
    border-radius: $input_radius;

    & h2 {
        font-size: 1.5rem;
        margin-top: 0;
    }
}


.menu {
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
    display: flex;
    // position: absolute;

    &--top {
        // position: fixed;
        // top: 0;

        @media(max-width: 1200px) {
            position: static;
        }
    }

    @media(max-width: 1200px) {
        position: static ;
    }

    & .menu__item {
        width: fit-content;
        text-decoration: none !important; 
        color: inherit !important;
        // position: relative;

        // &:before {
        //     content: "";
        //     display: block;
        //     width: 5px;
        //     height: 5px;
        //     background: $gray;
        //     border-radius: 50%;
        //     position: absolute;
        //     top: 0.5em;
        //     left: 0px;
        // }

        &.first_level {
            font-size: 1.3em;
            font-weight: bold;
        }
    
        &.second_level {
            // padding-left: 10px;
            font-size: 1.1em;
            font-weight: bold;
        }
    
        &.three_level {
            padding-left: 20px;
        }
    
        &.four_level {
            padding-left: 30px;
            font-size: 0.9em;
        }
    
        &.five_level {
            padding-left: 40px;
        }
    
        &.six_level {
            padding-left: 50px;
        }
    }
}