/*..........Search Block.........*/
/*//////////////////////////////*/

.search_block {
    width: 100%;
    height: 795px;

    background: $gray2;
    overflow: hidden;

    position: relative;

    @media(max-width: $mobile) {
        height: 50vh;
    }

    &__container {
        height: 100%;
    }

    &--small {
        height: fit-content;

        & .search_container {
            width: 85%;

            @media(max-width: $tablet) {
                width: 80%;
            }

            @media(max-width: $mobile) {
                width: 70%;
            }
        }
    }
}

.search_block_back {
    color: $light_gray;
    font-size: 1.6rem;
    overflow: hidden;

    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    pointer-events: none;
    opacity: 0.3;
}

.search_container {
    z-index: 1;
    width: 100%;

    border: 5px solid $white;
    border-radius: $input_radius;
    background: $gray2;

    overflow: hidden;
}

.input {
    padding: 5px 15px;
    width: 92%;
    font-size: 1rem;

    background: $white;
    border-top-right-radius: $input_radius;
    border-bottom-right-radius: $input_radius;

    &::placeholder {
        font-size: inherit;
    }

    &--big_text {
        font-size: $big_text_search;

        @media(max-width: $tablet) {
            font-size: $big_text_search;
        }
    }

    @media(max-width: $tablet) {
        width: 88%;
        padding: 10px 15px;
    }

    @media(max-width: $mobile) {
        width: 80%;
    }
}

.search_icon {
    flex-grow: 1;

    & svg {
        height: 80%;
        display: block;
        fill: $white;
        cursor: pointer;
        pointer-events: none;
    }

    @media(max-width: $mobile) {
        & svg {
            width: 20px;
        }
    }
}