/*..........Tabs.........*/
/*//////////////////////*/

.tabs {
    margin-top: 50px;
}

.tabs_btns {
    width: fit-content;

    flex-wrap: wrap;

    & button {
        margin-top:  15px;
    }

    & button:not(:last-child) {
        margin-right: 30px;
    }

    @media(max-width: $mobile) {	
        & button {
           flex-basis: 44%;
        }
        & button:not(:last-child) {
            margin-right: 15px;
        }
	}
}

.tabs_container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;

    @media(max-width: $tablet) {	
        grid-template-columns: repeat(2, 1fr);
	}

    @media(max-width: $mobile) {	
        grid-template-columns: repeat(1, 1fr);
  
	}
}

