@import "vars";
@import "fonts";
@import "animations";

html {
    font-family: $font_family;
    position: relative;
    overflow-x: hidden;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    color: $dark_gray;

    @media(max-width: $tablet) {
        font-size: 16px;
    }

    @media(max-width: $mobile) {
        font-size: 14px;
    }
}

body {
    display: block;
    margin: 0 auto;
    overflow-x: hidden;

    position: relative;
    min-height: 100vh;
}

.main {
    min-height: 100vh;

    &--not_main {
        width: 60%;
        max-width: 1700px;
    }

    @media(max-width: $tablet) {
        width: 100%;
    }
}

.page_container {
    justify-content: space-between;

    @media(max-width: $tablet) {
        flex-direction: column;
    }
}

.aside {
    max-width: 35%;
    width: 100%;
    height: 100%;
    padding: 10px;

    @media(max-width: $tablet) {
        margin-top: 20px;
        max-width: 100%;
        width: 100%;
    }
}

pre {
    margin: 0;
    white-space: pre-wrap;
    padding: 15px 15px 15px 10px;

    & .number {
        margin-right: 20px;
        -ms-user-select: none; 
		-moz-user-select: none; 
		-webkit-user-select: none; 
		user-select: none; 
    }
}

.main_container {
    padding-bottom: 100px !important;

    @media(max-width: $tablet) {
        padding-bottom: 50px !important;
    }
}

.container {
    padding: 20px 50px;

    position: relative;

    &--center {
        width: 100%;
        margin: 0 auto;
    }

    @media(max-width: $tablet) {
        padding: 10px;
    }
}

.mt-50 {
    margin-top: 50px;

    @media(max-width: $tablet) {
        margin-top: 30px;
    }
}

.cp_embed_wrapper {
    margin-top: 20px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.2;
}

p {
    margin: 0;
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;

    @media(min-width: $mobile) {
        margin-top: 15px;
    }
}

.title {
    font-size: 2rem;
    font-weight: 800;
    color: $dark_gray;
    text-align: center;

    margin-bottom: 50px;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 800;
}

h2 {
    font-size: 2rem !important;
    font-weight: 700;
}

.list_type_none {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list {
    .list_item {
        margin-top: 20px;
    }
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    opacity: 0;
}

.no_scroll {
    overflow: hidden;
}

.img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

a,
.button,
.input,
.select,
textarea {
    font: inherit;
    cursor: pointer;
}

.button {
    border-radius: $btn_border_radius;
    background: $white;
    border: 4px solid $dark_gray_middle;
    padding: 10px 40px;
    text-align: center;
    font-weight: 500;
    transition: all 0.5s;
    line-height: 1.0;
    font-weight: bold;

    & svg {
        transition: all 0.3s;
    }

    &--no_styles {
        background: none !important;
        border: none !important;
        padding: 0 !important;

    }

    &.active {
        background: $gray;
    }

    &:hover {
        border-color: $hover_color;
        color: $hover_color;

        & svg {
            fill: $hover_color;
        }
    }

    &:active {
        opacity: $active_opacity;
    }

    &--effect {
        position: relative;

        &::before,
        &::after {
            content: "";
            display: block;
            width: 0%;
            height: 0%;

            position: absolute;
            transition: all 0.3s;
            border-color: $gray;

            border-radius: $btn_border_radius;
        }

        &::before {
            top: -10px;
            left: -10px;
        }

        &::after {
            right: -10px;
            bottom: -10px;
        }

        &:hover {

            &::before,
            &::after {
                border: 2px solid $gray;
                width: 89%;
                height: 150%;
            }

            &::before {
                animation: travelBefore 0.5s 1 linear;
                clip-path: inset(0 60% 40% 0);
            }

            &::after {
                animation: travelAfter 0.5s 1 linear;
                clip-path: inset(40% 0 0 60%);
            }
        }
    }

    &--fill {
        background: $dark_gray_middle;
        color: #fff;
        border: none;
    }

    &--center {
        display: block;
        width: fit-content;
        margin: 50px auto 0 !important;
    }

    @media(max-width: $mobile) {
        padding: 5px 15px;
    }
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: all 0.5s;

    &:hover {
        color: $hover_color;
    }

    &:active {
        opacity: $active_opacity;
    }
}

.input {
    display: block;
    border: 0;
    outline: none;

    &::placeholder {
        font-size: $big_text_search;
        color: $dark_gray;
    }
}

.grid {
    display: grid;
}

.gap {
    gap: 15px;
}


.flex {
    display: flex;
}

.flex_space_between {
    justify-content: space-between;
}

.align_items_center {
    align-items: center;
}

.flex_center {
    justify-content: center;
    align-items: center;
}

.flex_justify_center {
    justify-content: center;
}



@import "blocks/header";
@import "blocks/footer";
@import "blocks/search_block";
@import "blocks/tabs";
@import "blocks/breadcrambs";
@import "blocks/post";
@import "blocks/modal";
@import "blocks/404";

.show {
    display: block;
}

.show_flex {
    display: flex;
}

.hide {
    display: none;
}

.mobile_hide {
    display: none;

    @media(min-width: 500px) {
        display: block;
    }
}

.desctop_hide {
    @media(min-width: 500px) {
        display: none;
    }
}

.banner {
    height: 1px;
    width: 100%;
    margin: 20px 0;
}

.accent_text {
    color: #D49856;
}

.category_link {
    font-size: 1.1rem;
}