@use "animations";
@use "tailwindcss";

html {
    @apply relative overflow-x-hidden scroll-smooth text-sm md:text-base lg:text-lg font-light text-gray-800;
    font-family: 'Roboto',
        sans-serif;

}


body {
    @apply block mx-auto overflow-x-hidden relative min-h-dvh;
}

.main {
    @apply min-h-dvh w-full;

    &--not_main {
        @apply w-full lg:w-[60%] max-w-[1700px];
    }
}

.post_container {
    @apply flex justify-between flex-col lg:flex-row
}

.aside {
    @apply w-full h-full mt-5 lg:mt-0 max-w-full lg:max-w-[35%];

    &--small {
        max-width: 25%;
    }
}

pre {
    @apply m-0 p-3 pl-2;
    white-space: pre-wrap;

    & .number {
        @apply mr-5;
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }

    & .token.number {
        @apply mr-0;
    }
}

.main_container {
    @apply  pb-[50px]! lg:pb-[100px]!;
}

.container {
    @apply relative p-2 lg:p-5 max-w-screen-xl;

    &--center {
        @apply  mx-auto mt-[150px] md:mb-10;
    }
}

.cp_embed_wrapper {
    @apply mt-5;
}

*,
*:before,
*:after {
    @apply box-border;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    @apply m-0;
    line-height: 1.2;
}

ol {
    @apply list-decimal
}

.title {
    @apply text-center font-extrabold mb-5 md:mb-10;
    font-size: 2rem;
}

.subtitle {
    @apply font-extrabold;
    font-size: 1.5rem;
}

h2 {
    @apply font-bold;
    font-size: 2rem !important;
}

.list_type_none {
    @apply m-0 p-0 list-none;
}

.list {
    .list_item {
        @apply mt-5;
    }
}

.visually-hidden:not(:focus):not(:active) {
    @apply absolute p-0 hidden opacity-0;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}

.no_scroll {
    @apply hidden;
}

.img {
    @apply inline-block w-full h-auto object-cover;
}

a,
.button,
.input,
.select,
textarea {
    @apply cursor-pointer;
    font: inherit;
}

.link {
    @apply inline-block no-underline text-inherit! transition-all duration-300 hover:text-blue-800! active:opacity-40;
   
}


.button {
    @apply text-gray-700 rounded-sm bg-white border-solid border border-zinc-500 py-2 px-3 md:py-3 md:px-10 text-center font-bold leading-none transition-all duration-500;

    & svg {
        @apply transition-all duration-300;
    }

    &--no_styles {
        @apply  bg-none! border-none! p-0! bg-transparent!;
    }

    &.active {
        @apply bg-gray-100;
    }

    &:hover {
        @apply bg-gray-100 border-blue-800 text-blue-800;

        & svg {
            @apply fill-blue-900;
        }
    }

    &:active {
        @apply opacity-40;
    }

    &--effect {
        @apply relative;

        &::before,
        &::after {
            @apply block w-0 h-0 absolute transition-all duration-300 bg-gray-100 rounded-sm;
            content: "";
        }

        &::before {
            top: -10px;
            left: -10px;
        }

        &::after {
            right: -10px;
            bottom: -10px;
        }

        &:hover {

            &::before,
            &::after {
                @apply border border-solid border-gray-100;
                width: 89%;
                height: 150%;
            }

            &::before {
                animation: travelBefore 0.5s 1 linear;
                clip-path: inset(0 60% 40% 0);
            }

            &::after {
                animation: travelAfter 0.5s 1 linear;
                clip-path: inset(40% 0 0 60%);
            }
        }
    }

    &--fill {
        @apply border-0 text-white bg-zinc-400 py-2 px-3 md:py-3 md:px-10 block;

        &:hover {
            @apply bg-zinc-500;

        }
    }

    &--center {
        @apply block w-fit mx-auto mt-5 md:mt-[50px];
    }

    &--small {
        @apply px-2 py-1 border-slate-500 border-2;
    }
}


.input {
    @apply block border-0 outline-0;

    &::placeholder {
        @apply block border-0 outline-0 text-slate-500 text-sm;
    }
}

.banner {
    @apply relative h-auto w-full my-5 mx-0;
}

.accent_text {
    @apply text-orange-300;
}

.category_link {
    font-size: 1.1rem;
}

/*...Header...*/

.burger {
    @apply gap-2 h-fit relative p-3 transition-all duration-300 w-[60px] md:w-[90px];
  
    &::before {
      content: "";
      animation: clippath 3s infinite linear;
  
      @apply border-2 border-slate-400 border-solid absolute inset-0 opacity-0 rounded-xl  transition-all duration-500;
    }
  
    &:hover {
      &::before {
        @apply opacity-100;
      }
    }
  }
  
  .nav_container {
    @apply min-h-dvh absolute top-0 right-0 bg-white  transition-all duration-500 py-5 px-5 md:py-8 md:px-[35px] w-[300px] md:w-[400px] text-base md:text-lg z-10 border-l border-l-gray-300;
  
    transform: translateX(500px);
  
    &.open {
      transform: translateX(0);
    }
  
  }
  
  .close_button {
    @apply w-6 h-6 absolute top-5 right-5 max-w-[30px] max-h-[30px] md:max-w-[45px] md:max-h-[45px];
  
    & svg {
      @apply w-full h-full fill-zinc-500;
    }
  }
  
  .header_nav {
    @apply mt-3 md:mt-5 gap-3 md:gap-8;
  }
  
  .info {
    @apply mt-2 md:mt-8 ml-5 mb-3 md:mb-[45px];
  
    & .info_icon {
      @apply w-5 h-5 text-sm md:w-8 md:h-8 ml-2 md:ml-5 text-white rounded-[50px] bg-zinc-300;
    }
  } 
  
  .address {
    @apply break-words;
  }
  

  /*..........Tabs.........*/
/*//////////////////////*/

.tabs_btns {
    @apply w-fit flex-wrap;

    & button {
        @apply mt-4 basis-[44%] md:basis-full mr-4 md:mr-0 last:mr-0;

    }

    & button:not(:last-child) {
        margin-right: 30px;
    }
}

.tabs_container {
    @apply gap-3 md:gap-5 md:gap-10 grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
}

  
  /*..........Post.........*/
/*//////////////////////*/

.post {
    line-height: 1.4;

    strong {
        @apply font-bold;
    } 
    & .link {
        @apply break-words;
    }
    & .code_block {
        @apply block w-full mt-8 overflow-hidden bg-white border-[3px] border-solid  border-gray-800 rounded-sm; 

        &__lang {
            @apply font-bold mt-0 py-0 px-2;
        }

        & .comment {
            @apply text-zinc-500;
        }

        code {
            @apply text-zinc-950;
        }
    }

    & h1 {
        font-size: 3rem;
        margin-bottom: 30px;

        @media(max-width: 500px) {
            font-size: 2rem;
        }
    }

    & h2 {
        @apply mt-10;
        font-size: 2rem;
    }

    & h3, h4 {
        @apply mt-5 underline underline-offset-2 decoration-2;
        font-size: 1.3rem;
    }

    & .button {
        @apply mt-10;
    }

    & .link:not(.button, .card) {
        @apply text-blue-500;
    }

    & p {
        @apply mt-2 md:mt-5;
    }

    & img {
        @apply inline-block  mt-3 rounded-lg;
    }

    & .post_date {
        @apply text-right;
    }

    & .post_img {
        @apply mx-auto;
        max-width: 700px;
    }

    & .banner {
        @apply my-8 mx-0;
    }

    & .tabs_container {
        @apply mt-8 list-none gap-8 pl-0;
    }

    & .card {  
        font-size: 16px;
        & .card_title {
            font-size: 20px;
        }
    }
}

.menu_accordeon {
    @apply border-[1px] border-solid rounded-sm border-gray-800 !text-inherit shadow-none m-0 my-5;
}

.MuiAccordion-heading {
    @apply mt-0! no-underline!;
    font-size: 1.5rem !important;
}

.menu {
    @apply flex flex-col gap-2 mt-2;


    & .menu__item {
        @apply w-fit no-underline text-inherit;

        &.first_level {
            @apply font-bold;
            font-size: 1.3em;
        }
    
        &.second_level {
            @apply font-bold;
            font-size: 1.1em;
        }
    
        &.three_level {
            @apply pl-5;
        }
    
        &.four_level {
            @apply pl-8;
            font-size: 0.9em;
        }
    
        &.five_level {
            @apply pl-10;
        }
    
        &.six_level {
            @apply pl-[48px];
        }
    }
}

.modal_background {
    @apply flex justify-center items-center w-full h-dvh fixed inset-0 backdrop-blur-xs bg-slate-600/30;
    z-index: 200;
    background: rgba(157, 145, 149, 0.30);
}

.modal {
    @apply flex-col w-fit bg-white overflow-hidden rounded-[30px] relative py-[50px] px-5 md:px-[50px];
    max-width: 500px;
    z-index: 11; 
}

/*..........Search Block.........*/
/*//////////////////////////////*/

.search_block {
    @apply w-full h-[50vh] md:h-[795px] relative overflow-hidden bg-gray-200;

    &__container {
        @apply h-full;
    }

    &--small {
        @apply h-fit;
    }
}

.search_block_back {
    @apply text-gray-100 overflow-hidden h-full w-full absolute top-0 left-0 z-0 opacity-30 pointer-events-none;
    font-size: 1.6rem;
}

.search_container {
    @apply w-full border-[5px] border-solid border-white rounded-sm overflow-hidden bg-gray-200;
    z-index: 1;
}

.input {
    @apply w-[80%] md:w-[88%] lg:w-[92%] py-2 px-3 md:py-1 md:px-4 bg-white rounded-tr-sm rounded-br-sm;
}

.search_icon {
    flex-grow: 1;

    & svg {
        @apply block fill-white cursor-pointer pointer-events-none w-8;
        height: 80%;
    }
}