@import "../../styles/vars";

.breadcrumbs {
    @apply flex mt-5;
    & a,
    span {
       @apply px-2;
    }

    & a:first-child {
        @apply pl-0;
    }

    & a:not(:last-child) {
        @apply relative;
        
        &:before {
            @apply absolute block rounded-full w-1 h-1;
            content: "";
            top: 7px;
            right: -2px;
            background-color: $dark_gray_middle;
        }
    }
}